[Desktop Entry]
Encoding=UTF-8
Name=xterm
Comment=standard terminal emulator for the X window system
Exec=xterm
Terminal=False
Icon=
Type=Application
